@model GymQuest.Models.User
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4">Welcome, @ViewBag.FirstName</h1>
        <h2><a asp-controller="Workout" asp-action="CreateRoutine">Create a routine!</a></h2>
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
    }
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
